<h1>Postcode Checker</h1>

<%= form_with(url: postcode_checker_check_url, method: 'post') do %>
  <%= text_field_tag(:postcode) %>
  <%= submit_tag("Check", name: 'submit_postcode') %>
<% end %>

<% flash.each do |type, msg| %>
  <p><%= msg %></p>
<% end %>

<% if @whitelisted_postcodes.present? %>
  <h3>Whitelisted Postcodes</h3>
  <ul>
    <% @whitelisted_postcodes.each do |wp| %>
      <li><%= wp.postcode %></li>
    <% end %>
  </ul>
<% else %>
  <h3>No Whitelisted Postcodes</h3>
<% end %>

<%= link_to 'Whitelisted Postcodes', whitelisted_postcodes_url %>